<!-- Début du Header -->
<header>
    <div id="nomblocheader">
        <p>Site de Timothé Gauquelin !</p>
    </div>
    <div id="directionblocheader">
        <ul>
 
            <li><a href="#blocprincipal"> Accueil</a></li>
            <img class="icon" src="assets/places-home-3.svg">
            <li><a href="#blocaproposdemoi">A propos</a></li>
            <img class="icon" src="assets/user-male.svg">
            <li><a href="#blocmesprojets">Mes projets</a></li>
            <img class="icon" src="assets/battery-high.svg">
            <!--             <li><a href="#bloccontact">Contact</a></li>
            <img class="icon" src="as/chat-bubble-square-1.svg"> -->
        </ul>
    </div>
</header>
<!-- Fin du Header -->
