<!-- Début du Header -->
<header>
    <div id="nomblocheader">
        <p>Site de Timothé Gauquelin</p>
    </div>
    <div id="directionblocheader">
        <ul>
          
            <li><a href="#blocaproposdemoi"><p>A propos de moi</p></a></li>

            <li><a href="#projectBlock"><p>Mes projets</p></a></li>

            <!--             <li><a href="#bloccontact">Contact</a></li>
            <img class="icon" src="as/chat-bubble-square-1.svg"> -->
        </ul>
    </div>
</header>
<!-- Fin du Header -->
