<div id="footerBlock">
    <div class="blankBlock"></div>
    <div id="insideFooterBlock">
        <div id="aboutMeBlockAndSocialNetworkBlock">
            <div id="aboutMeBlockAndSocialNetworkBlockSUBBLOCK">
                <div id="photoBlock"><img src="assets/profil.jpg"></div>
                <div id="whatWorkIDoBlock">
                        <div id="whatWorkIDoBlockSub">
                            <p>Developpeur Web & Web Mobile <br>
                            (Recherche Stage en Full-Stack)</p>
                        </div>
                        <div id="socialNetworkBlockSub">
                            <div class="iconSocialNetwork"><a href= "https://www.linkedin.com/in/timothé-gauquelin-949272189"><img src="assets/linkedin.svg"></a></div>
                        </div>
                </div>
            </div>
        </div>
        <div id="contactDetailsBlock"></div>
    </div>
    <div class="blankBlock"></div>
</div>
<div id="allRightReservedBlock">
    <p>© Timothé Gauquelin 2019-2020. Tous droits réservés. </p>
</div>