#projectBlock {
    height: 600px;
    width: 100%;
    background-color: #5c93d9;
    //Flex//
    display: flex;
    flex-direction: row;
}

.blankBlock {
    height: 100%;
    width: 10%;
    background-color: red;
    //Flex//
    display: flex;
}

#insideProjectBlock {
    height: 100%;
    width: 80%;
    background-color:blue;
    //Flex//
    display: flex;
    flex-direction: row;
}