<div id="projectBlock">
    <div class="blankBlock"></div>
    <div id="insideBlock">
        <div id="titleBlock">
            <p>Mes Projets :</p>
        </div>
        <div id="contentsTitleProjectBlock">
                <div class="projectsBlock">
                    <div class="imageProjectsBlock"><img src="assets/PupuceImage/accueil.jpg"></div>
                    <div class="titleAndButtonProjectBlock">
                        <div class="nameOfTheProjectBlock"> 
                            <p> Pupuce - Projet pour Faches-Thusmenil </p>
                        </div>
                        <div class="buttonOfTheProjectBlock">
                            <div class=buttonSeeMore (click)="displayPupuceBlock()"><p>En voir plus !</p></div>
                        </div>
                    </div>
                </div>
                <div class="projectsBlock">
                        <div class="imageProjectsBlock"><img src="assets/NutriplusImage/accueil.jpg"></div>
                        <div class="titleAndButtonProjectBlock">
                            <div class="nameOfTheProjectBlock"> 
                                <p> Nutriplus - Projet Personnel Mobile </p>
                            </div>
                            <div class="buttonOfTheProjectBlock">
                                <div class=buttonDisabled disabled ><p>En travaux !</p></div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <div class="blankBlock"></div>
</div>
<div id="projetPupuceBlock" *ngIf=showPupuceBlock></div>