<div id="projectBlock">
    <div class="blankBlock"></div>
    <div id="insideBlock">
        <div id="titleBlock">
            <p>Mes Projets :</p>
        </div>
        <div id="contentsTitleProjectBlock">
                <div class="projectsBlock">
                    <div class="imageProjectsBlock"><img src="assets/PupuceImage/accueil.jpg"></div>
                    <div class="titleAndButtonProjectBlock">
                        <div class="nameOfTheProjectBlock"> 
                            <p> Pupuce - Projet pour Faches-Thusmenil </p>
                        </div>
                        <div class="buttonOfTheProjectBlock">
                            <div class=buttonSeeMore (click)="displayPupuceBlock()"><p>En voir plus !</p></div>
                        </div>
                    </div>
                </div>
                <div class="projectsBlock">
                        <div class="imageProjectsBlock"><img src="assets/NutriplusImage/accueil.jpg"></div>
                        <div class="titleAndButtonProjectBlock">
                            <div class="nameOfTheProjectBlock"> 
                                <p> Nutriplus - Projet Personnel Mobile </p>
                            </div>
                            <div class="buttonOfTheProjectBlock">
                                <div class=buttonDisabled disabled ><p>En travaux !</p></div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <div class="blankBlock"></div>
</div>
<div id="projetPupuceBlock" *ngIf=showPupuceBlock>
    <div class="blankSpecificProjectBlock"></div>
    <div class="insideSpecificProjectBlock">
        <div class="titleSpecificProjectBlock"><p>Pupuce</p></div>
        <div class="descSpecificProjectBlock">
            <div class="blankBlock"></div> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga illo animi magni nemo velit quod ducimus! Architecto eligendi voluptate amet, ducimus at odio, ea consequatur laborum quia repudiandae, sapiente dolor!</p>
            <div class="blankBlock"></div>
        </div>
        <div class="usedToolsSpecificProjectBlock"></div>
        <div class="showslideSpecificProjectBlock"></div>
    </div>
    <div class="blankSpecificProjectBlock"></div>
</div>