<div id="projectBlock">
    <div class="blankBlock"></div>
    <div id="insideBlock">
        <div id="titleBlock">
            <p>Mes Projets :</p>
        </div>
        <div id="contentsTitleProjectBlock">
                <div class="projectsBlock">
                    <div class="imageProjectsBlock"><img src="assets/PupuceImage/accueil.jpg"></div>
                    <div class="titleAndButtonProjectBlock">
                        <div class="nameOfTheProjectBlock"> 
                            <p> Pupuce - Projet pour Faches-Thusmenil </p>
                        </div>
                        <div class="buttonOfTheProjectBlock">
                            <div class=buttonSeeMore (click)="displayPupuceBlock()"><p>En voir plus !</p></div>
                        </div>
                    </div>
                </div>
                <div class="projectsBlock">
                        <div class="imageProjectsBlock"><img src="assets/NutriplusImage/accueil.jpg"></div>
                        <div class="titleAndButtonProjectBlock">
                            <div class="nameOfTheProjectBlock"> 
                                <p> Nutriplus - Projet Personnel Mobile </p>
                            </div>
                            <div class="buttonOfTheProjectBlock">
                                <div class=buttonDisabled disabled ><p>En travaux !</p></div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <div class="blankBlock"></div>
</div>
<div id="projetPupuceBlock" *ngIf=showPupuceBlock>
    <div class="blankSpecificProjectBlock"></div>
    <div class="insideSpecificProjectBlock">
        <div class="titleSpecificProjectBlock"><p>Nom du projet : Pupuce</p>
        <div id="studiesProjectTag"><p>Projet Scolaire</p></div>
        </div>
        <div class="descSpecificProjectBlock">
            <div class="blankBlock"></div> 
            <p>Ce projet a été crée dans le cadre de la formation que j'ai effectué. Avec mes cinq collèges, nous avions pour but de digitaliser le marché aux puces de Faches-Thusmenil. </p>
            <div class="blankBlock"></div>
        </div>
        <div class="usedToolsSpecificProjectBlock"><img src="assets/iconHTML.png"><img src="assets/iconCSS.png"><img src="assets/iconANGULAR.png"><img src="assets/iconJAVA.png"><img src="assets/iconMYSQL.png"></div>
        <div class="showslideSpecificProjectBlock"><slideshow [showArrows]="false" [autoPlay]="true" [autoPlayInterval]="7000" [showDots]="true" [dotColor]="'#5c93d9'" [imageUrls]="imagePupuce"></slideshow></div>
    </div>
    <div class="blankSpecificProjectBlock"></div>
</div>