<div id="aboutMeBlock">
    <div id="blocaproposdemoi">
        <div id="blocaproposdemoisubtop">
            <p>A propos de moi :</p>
            <div id="apropossubecrit">Ces clefs qui me caracterisent</div>
        </div>
        <div id="blocaproposdemoisubbottom">
            <div class="blocaproposdemoisubbuttomclef">
                <div class="bloccleficon">
                    <img src="assets/teamwork.svg">
                </div>
                <div class="bloccleftitre">
                    <p>Travail d'équipe</p>
                </div>
                <div class="blocclefdescription">Je suis convaincu qu'à plusieurs nous allons plus loin dans un projet que seul.</div>
            </div>
            <div class="blocaproposdemoisubbuttomclef">
                <div class="bloccleficon">
                    <img src="assets/community.svg">
                </div>
                <div class="bloccleftitre">
                    <p>Partage</p>
                </div>
                <div class="blocclefdescription">Echanger, apporter et recevoir sont des atouts majeurs pour un projet solide.</div>
            </div>
            <div class="blocaproposdemoisubbuttomclef">
                <div class="bloccleficon">
                    <img src="assets/business.svg">
                </div>
                <div class="bloccleftitre">
                    <p>Défi</p>
                </div>
                <div class="blocclefdescription">Surmonter des difficultés et atteindre des objectifs sont des moteurs pour moi.</div>
            </div>
            <div class="blocaproposdemoisubbuttomclef">
                <div class="bloccleficon">
                    <img src="assets/charity.svg">
                </div>
                <div class="bloccleftitre">
                    <p>Honnêteté</p>
                </div>
                <div class="blocclefdescription">L'engagement moral m'est important car il est à la base de la confiance.</div>
            </div>
        </div>
    </div>
</div>